<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
</head>
<body>
    <h1>Select an Option</h1>
    <form action="" method="POST">
        <button type="submit" formaction="/camera_matrix_calculation">Camera Matrix Calculation</button>
        <button type="submit" formaction="/integral_image_feed">Integral Image Feed</button>
        <button type="submit" formaction="/image_stitching">Image Stitching</button>
    </form>
</body>
</html>
